.page {
    width: 100vw;
    min-height: 100vh;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #464646;
    font-size: 4rem;
    margin-left: -15vw;
    margin-top: 15vh;
}

.page svg {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0rem 1.5rem;
}

.historyPicker {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 50%;
    justify-content: center;
    margin-left: -15vw;
    margin-top: 5vh;
}

.historyButton {
    border: 1px solid #E7E7E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 1.5rem;
    padding-right: 3rem;
    user-select: none;
    border-radius: 2px;
}

.historyButton h2 {
    font-size: 2rem;
    font-weight: 500;
}

.historyButtonSelected{
    background-color: #32936F;
    color: white;
}

.historyButtonSelected svg{
    stroke: white;
}